# =======================================
# DEPENDENCIES AND BUILD FILES
# =======================================
node_modules/
npm-debug.log
yarn-error.log
.pnpm-debug.log
dist/
dist-ssr/
build/
.coverage/
.out/
.next/

# =======================================
# IDE/EDITOR FILES
# =======================================
.vscode/
.idea/
!.vscode/extensions.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# =======================================
# LOGS
# =======================================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
pnpm-debug.log*
